html{
  box-sizing: border-box;
  font-size: 10px;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
a{
  display: inline-block;
  text-decoration: none;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Museo_Sans_Cyrl';
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  color: #282828;
}
.container{
  max-width: 81.25vw;
  padding: 0 0.78125vw;
  margin: 0 auto;
}
.wrapper{
  position: relative;
  overflow: hidden;
}